[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
molecule = ">2.13.0"
ansible = "*"
ansible-lint = ">=3.4.15"
docker = "*"
testinfra = ">=1.7.0"
jmespath = "*"

[dev-packages]

[requires]
python_version = "3.7"
